<div id="<%= dom_id post %>" class="w-full flex gap-4 my-6">
  <strong class="block font-medium mb-1 text-indigo-600">Title:</strong>
  <%= post.title %>
  <p class="text-gray-500">
    posted by
    <%= post.user.email %>
  </p>
  <strong class="block font-medium mb-1 text-orange-500">Body:</strong>
  <%= post.body %>
  <strong class="block font-medium mb-1 text-blue-600 dark:text-sky-400">Views:</strong>
  <%= pluralize(post.views, "view") %>
</div>
